# Python
__pycache__/
*.pyc
*.pyo

# Notebook checkpoints
.ipynb_checkpoints/

# Data
data/raw/*.csv
data/interim/*
data/processed/*

# Output
outputs/models/*
outputs/metrics/*
outputs/figures/*

# Environment
.env
env/
.venv/
venv/

# OS
.DS_Store

# VS Code
.vscode/

# Jupyter exports
.html

# Logs
*.log